@model ETFSjedniceWeb.Models.SJEDNICA

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">
        <div class="form-horizontal">
            <h4>Zakazivanje sjednice</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.Label("Datum početka sjednice:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBox("DATUM_ODRZAVANJA_OD", Model.DATUM_ODRZAVANJA_OD, new { @class = "datepicker", @type = "date" })

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Datum kraja sjednice:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBox("DATUM_ODRZAVANJA_DO", Model.DATUM_ODRZAVANJA_DO, new { @class = "datepicker", @type = "date" })

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Naziv:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NAZIV)
                    @Html.ValidationMessageFor(model => model.NAZIV)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Sala:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SALA)
                    @Html.ValidationMessageFor(model => model.SALA)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" name="action:Create" value="Kreiraj" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
   
<!--<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    -->