@model ETFSjedniceWeb.Models.SJEDNICA

@{
    ViewBag.Title = "Details";
}

<h2>Detalji o sjednici</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           <!-- @Html.DisplayNameFor(model => model.DATUM_ODRZAVANJA_OD)-->
            @Html.Label("POČETAK SJEDNICE", new { @class = "col-md-2 control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATUM_ODRZAVANJA_OD)
        </dd>

        <dt>
           <!-- @Html.DisplayNameFor(model => model.DATUM_ODRZAVANJA_DO)-->
            @Html.Label("KRAJ SJEDNICE", new { @class = "col-md-2 control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATUM_ODRZAVANJA_DO)
        </dd>

        <dt>
          <!--  @Html.DisplayNameFor(model => model.NAZIV)-->
            @Html.Label("NAZIV", new { @class = "col-md-2 control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZIV)
        </dd>

        <dt>
           <!-- @Html.DisplayNameFor(model => model.SALA)-->
            @Html.Label("SALA", new { @class = "col-md-2 control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALA)
        </dd>

       <!-- <dt>
            @Html.DisplayNameFor(model => model.STATUS_SJEDNICE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_SJEDNICE_ID)
        </dd>-->

    </dl>
</div>
<p>
    @Html.ActionLink("Pozovi učesnike", "DodajUcesnike", "CvUserInfo")
    
    @*@Html.ActionLink("Pozovi učesnike", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Nazad", "Index")
</p>
