@model ETFSjedniceWeb.Models.SJEDNICA

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SJEDNICA</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.DATUM_ODRZAVANJA_OD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUM_ODRZAVANJA_OD)
                @Html.ValidationMessageFor(model => model.DATUM_ODRZAVANJA_OD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATUM_ODRZAVANJA_DO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUM_ODRZAVANJA_DO)
                @Html.ValidationMessageFor(model => model.DATUM_ODRZAVANJA_DO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAZIV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAZIV)
                @Html.ValidationMessageFor(model => model.NAZIV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DNEVNI_RED_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DNEVNI_RED_ID)
                @Html.ValidationMessageFor(model => model.DNEVNI_RED_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SALA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SALA)
                @Html.ValidationMessageFor(model => model.SALA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
