@model ETFSjedniceWeb.Models.SJEDNICA

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            
            <div class="col-md-10">
                <input type="button" class="btn btn-default" value="Pozovi učesnike" onclick="window.location = '/Home/Ucesnici';" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("POČETAK SJEDNICE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUM_ODRZAVANJA_OD)
                @Html.ValidationMessageFor(model => model.DATUM_ODRZAVANJA_OD)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("KRAJ SJEDNICE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATUM_ODRZAVANJA_DO)
                @Html.ValidationMessageFor(model => model.DATUM_ODRZAVANJA_DO)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("NAZIV", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAZIV)
                @Html.ValidationMessageFor(model => model.NAZIV)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("SALA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SALA)
                @Html.ValidationMessageFor(model => model.SALA)
            </div>
        </div>

       <!--- <div class="form-group">
            @Html.LabelFor(model => model.STATUS_SJEDNICE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATUS_SJEDNICE_ID)
                @Html.ValidationMessageFor(model => model.STATUS_SJEDNICE_ID)
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index")
</div>
