@model IEnumerable<ETFSjedniceWeb.Models.SJEDNICA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATUM_ODRZAVANJA_OD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATUM_ODRZAVANJA_DO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZIV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNEVNI_RED_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALA)
        </th>
        <th></th>
    </tr>
    <tr>
        <th>14.12.2016.</th>
        <th>14.12.2016.</th>
        <th>Sjednica: Donošenje zakona o redovnim rokovima</th>
        <th>1</th>
        <th>VA</th>
    </tr>
    <tr>
        <th>17.12.2016.</th>
        <th>17.12.2016.</th>
        <th>Sjednica: Donošenje zakona o vanrednim rokovima</th>
        <th>2</th>
        <th>MA</th>
    </tr>
    <tr>
        <th>17.12.2016.</th>
        <th>17.12.2016.</th>
        <th>Sjednica: Donošenje zakona o redovnim studentima</th>
        <th>3</th>
        <th>S10</th>
    </tr>






@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATUM_ODRZAVANJA_OD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATUM_ODRZAVANJA_DO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZIV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNEVNI_RED_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}*@

</table>
