@model ETFSjedniceWeb.Models.GLAS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GLAS</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.STAVKA_DNEVNOG_REDA_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STAVKA_DNEVNOG_REDA_ID)
                @Html.ValidationMessageFor(model => model.STAVKA_DNEVNOG_REDA_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIP_GLASA_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIP_GLASA_ID)
                @Html.ValidationMessageFor(model => model.TIP_GLASA_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UCESNIK_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UCESNIK_ID)
                @Html.ValidationMessageFor(model => model.UCESNIK_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
