@model ETFSjedniceWeb.Models.GLAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GLAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STAVKA_DNEVNOG_REDA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAVKA_DNEVNOG_REDA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIP_GLASA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIP_GLASA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UCESNIK_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UCESNIK_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
