@model ETFSjedniceWeb.Models.UCESNIK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UCESNIK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UPOSLENIK_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPOSLENIK_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SJEDNICA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SJEDNICA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIP_UCESNIKA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIP_UCESNIKA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_UCESNIKA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_UCESNIKA_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
