@model ETFSjedniceWeb.Models.STAVKA_DNEVNOG_REDA

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Stavka dnevnog reda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SJEDNICA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SJEDNICA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REDNI_BROJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REDNI_BROJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NASLOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NASLOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_STAVKE_DR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_STAVKE_DR_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmijeni", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Nazad", "Index")
</p>
