@model ETFSjedniceWeb.Models.STAVKA_DNEVNOG_REDA

@{
    ViewBag.Title = "Edit";
}

<h2>Izmijeni stavku dnevnog reda</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stavka dnevnog reda</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.SJEDNICA_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SJEDNICA_ID)
                @Html.ValidationMessageFor(model => model.SJEDNICA_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.REDNI_BROJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.REDNI_BROJ)
                @Html.ValidationMessageFor(model => model.REDNI_BROJ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NASLOV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NASLOV)
                @Html.ValidationMessageFor(model => model.NASLOV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OPIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OPIS)
                @Html.ValidationMessageFor(model => model.OPIS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STATUS_STAVKE_DR_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATUS_STAVKE_DR_ID)
                @Html.ValidationMessageFor(model => model.STATUS_STAVKE_DR_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index")
</div>
