@model IEnumerable<ETFSjedniceWeb.Models.STAVKA_DNEVNOG_REDA>

@{
    ViewBag.Title = "ListaStavki";
}

<h2>Stavke dnevnog reda</h2>

<p>
    @Html.ActionLink("Dodaj novu stavku!", "Create")
</p>
<table class="table">
    <tr>
      <!--  <th>
            @Html.DisplayNameFor(model => model.SJEDNICA_ID)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.REDNI_BROJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NASLOV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPIS)
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.STATUS_STAVKE_DR_ID)
        </th>-->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     <!--   <td>
            @Html.DisplayFor(modelItem => item.SJEDNICA_ID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.REDNI_BROJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NASLOV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPIS)
        </td>
       <!-- <td>
            @Html.DisplayFor(modelItem => item.STATUS_STAVKE_DR_ID)
        </td>-->
        <td>
            @Html.ActionLink("Izmijeni", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Više", "Details", new { id=item.ID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
