
@{
    ViewBag.Title = "PrikazSjednica";
}

<h3>Prikaz svih sjednica</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Podaci o sjednicama koje će se održati.</h4>
    <hr />
    @Html.ValidationSummary()
    
    

    

   
    <div class="form-group">
        @Html.Label("Prikaz sjednica", new { @class = "col-md-2 control-label" })
        <br />
        <br />

        <table class="table table-striped" style="color:white; border-color:white; border-style:double; font-weight:bold; font-family:Arial; font-size:16px">
            <tbody>

                <tr>
                    <th>
                        Datum odrzavanja od
                    </th>
                    <th>
                        Datum odrzavanja do
                    </th>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Dnevni red ID
                    </th>
                    <th>
                        Sala
                    </th>

                </tr>
                <tr>
                    <th>14.12.2016.</th>
                    <th>14.12.2016.</th>
                    <th>Sjednica: Donošenje zakona o redovnim rokovima</th>
                    <th>1</th>
                    <th>VA</th>
                </tr>
                <tr>
                    <th>17.12.2016.</th>
                    <th>17.12.2016.</th>
                    <th>Sjednica: Donošenje zakona o vanrednim rokovima</th>
                    <th>2</th>
                    <th>MA</th>
                </tr>
                <tr>
                    <th>17.12.2016.</th>
                    <th>17.12.2016.</th>
                    <th>Sjednica: Donošenje zakona o redovnim studentima</th>
                    <th>3</th>
                    <th>S10</th>
                </tr>



            </tbody>
        </table>


                
   </div>
    <div class="form-group">
        @Html.Label("Kreiraj sjednicu", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="button" class="btn btn-default" value="Kreiraj" />
        </div>
    </div>
    

    <br />
    <br />

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" style='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Izbriši" />
            <input type="button" class="btn btn-default" style='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Izmijeni" />
        </div>
    </div>*@
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
