
@{
    ViewBag.Title = "Ucesnici";
}

<h3>Učesnici</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Odaberite učesnike sjednice.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
       @Html.CheckBox("AllowRating", false) 
       @Html.Label("Sabina Grošić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Larisa Bešić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Saudin Ademović")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Dženana Bričić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Osman Mehinagić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Dajan Bračković")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Dino Alić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Željko Jurić")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Samir Omanović")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Samim Konjicija")
        <br />
        @Html.CheckBox("AllowRating", false)
        @Html.Label("Aida Grošić")
    </div>
    
        
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" style='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Izlaz" onclick="window.location = '/Home/ZakaziSjednicu';" />
            <input type="button" class="btn btn-default" style='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Pozovi na sjednicu" onclick="window.location = '/Home/ZakaziSjednicu';" />
        </div>
    </div>
}


