
@{
    ViewBag.Title = "ZakaziSjednicu";
}

<h3>Zakazivanje sjednice</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Unesite podatke o sjednici.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Datum početka sjednice", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Datum", "MM/DD/YYYY")
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Datum završetka sjednice", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Datum", "MM/DD/YYYY")
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Tema", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Tema")
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("Mjesto održavanja", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
                    @Html.DropDownList("Mjesta", new List<SelectListItem>
            {
                                new SelectListItem() {Text = "VA", Value="VA"},
                                new SelectListItem() {Text = "Sala 1", Value="Sala 1"},
                                new SelectListItem() {Text = "Sala 2", Value="Sala 2"}
            }, new
            {
                style = "width: 165px; height:25px",
                               
            })     
        </div>
    </div>   
    
    
    <div class="form-group">
        @Html.Label("Pozovi učesnike", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="button" class="btn btn-default" value="Odaberi učesnike" onclick="window.location = '/Home/Ucesnici';"  />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Pozvani učesnici", new { @class = "col-md-2 control-label" })
        <br />
        <br />
        <table class="table table-striped" style="color:white; border-color:white; border-style:double; font-weight:bold; font-family:Arial; font-size:16px">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Uposlenik</th>
                    <th>Izbriši</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td>Samir Omanović</td>
                    <td>
                        <input type="button" class="btn btn-default" style ="background-color:red; color:black; font-weight:bold" value="X" />
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Željko Jurić</td>
                    <td>
                        <input type="button" class="btn btn-default" style="background-color:red; color:black; font-weight:bold" value="X" />
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Samim Konjicija</td>
                    <td>
                        <input type="button" class="btn btn-default" style="background-color:red; color:black; font-weight:bold" value="X" />
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Dženana Đonko</td>
                    <td>
                        <input type="button" class="btn btn-default" style="background-color:red; color:black; font-weight:bold" value="X" />
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Dino Alić</td>
                    <td>
                        <input type="button" class="btn btn-default" style="background-color:red; color:black; font-weight:bold" value="X" />
                    </td>
                </tr>
           
            </tbody>
        </table>
    </div>
    <div class="form-group">
        @Html.Label("Dodaj prilog", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="button" class="btn btn-default" value="Dodaj" />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Kreiraj dnevni red", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="button" class="btn btn-default" value="Kreiraj" />
        </div>
    </div>
    
    <br />
    <br />
     
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" style='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Odustani"  />
            <input type="button" class="btn btn-default" style ='background-color: darkgrey; border: 1pt ridge lightgrey; color:black; font-weight:bold; font-size:18px' value="Zakaži sjednicu" />
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}