@model IEnumerable<ETFSjedniceWeb.Models.CV_USER_INFO>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">

@using (Html.BeginForm())
{
    <h4>Učesnici</h4>
    <p>
        @*<input type="button" class="btn btn-default" value="Dodaj učesnike" onclick="window.location = '/Sjednica/Create';" />*@
       <input type="button" class="btn btn-default" value="Pozovi učesnike" onclick="window.location = '/Sjednica/Index';" />
    </p>
    <table class="table table-striped" style="border-style: double;">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.USER_ID)
                </th>*@
            <th>
                @Html.DisplayName("Ime")
            </th>
            <th>
                @Html.DisplayName("Prezime")
            </th>
            <th>
                @Html.DisplayName("E-mail")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.USER_ID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FIRST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    <!-- @Html.ActionLink("Detalji o učesniku", "Details", new { id = item.ID })-->
                    @Html.CheckBox("odaberi", false)
                    @*@Html.ActionLink("Izmijeni", "Edit", new { id=item.ID }) |*@

                    @*@Html.ActionLink("Izbriši", "Delete", new { id=item.ID })*@
                </td>
            </tr>
        }

    </table>
}
</div>